<app-headbar></app-headbar>

<div class="wrapper">
  <div class="columns">
    <app-aside-menu class="aside column is-2"></app-aside-menu>
    <main class="column main">
      <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#" aria-current="page">Produtos</a></li>
          <li class="is-active"><a href="#" aria-current="page">Importar Produto</a></li>
        </ul>
      </nav>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title has-text-primary"><i class="fa fa-cubes"></i> Importar produto do fornecedor</div>
          </div>
        </div>
      </div>
      <div class="columns is-multiline">
          <div class="column is-9">
            <div class="notification is-danger" *ngIf="errors.length > 0">
              <button class="delete"></button>
              <ul>
                <li *ngFor="let error of errors">{{error.message}}</li>
              </ul>
            </div>
            <form [formGroup]="form">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Fornecedor</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                        <div class="select">
                          <select formControlName="vendor">
                            <option>Selecione o fornecedor</option>
                            <option *ngFor="let vendor of vendors" [value]="vendor.value">{{vendor.name}}</option>
                          </select>
                        </div>
                        <span class="tag is-danger" *ngIf="!form.controls.vendor.valid && !form.controls.vendor.pristine">Fornecedor inválido</span>
                      </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Identificador do Produto</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control" [ngClass]="{'is-loading': loadingProduct}">
                      <input formControlName="productIdentifier" (change)="getProductData()" 
                        class="input" type="text" placeholder="Informe o identificador do produto">
                      <span class="tag is-danger" *ngIf="!form.controls.productIdentifier.valid && !form.controls.productIdentifier.pristine">Identificador do produto inválido</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Preço de venda</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input currencyMask formControlName="price" class="input" type="text" placeholder="Informe o preço"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">
                      <span class="tag is-danger" *ngIf="!form.controls.price.valid && !form.controls.price.pristine">Preço inválido</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Tags</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <tag-input formControlName="tags" [modelAsStrings]="true" theme='minimal' [placeholder]="'Informe uma nova tag'" [secondaryPlaceholder]="'Informe tags do produto'">
                      </tag-input>
                      <span class="tag is-danger" *ngIf="!form.controls.tags.valid && !form.controls.tags.pristine">Tags inválidas</span>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="columns" *ngIf="product">
                  <div class="column is-offset-one-fifth">
                    <div class="horizontal-card card">
                        <div class="card-image">
                          <figure class="image is-2by3">
                            <img src="{{product.productImage}}" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="card-content">                      
                          <div class="content">
                            <h1>{{product.productName}}</h1>
                            <h3>Custo: R$ {{product.price | number: '1.2-2'}}</h3>
                            <p>{{product.productDescription}}</p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              
              <div class="field is-horizontal">
                <div class="field-label">
                  <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button class="button is-primary" [disabled]="importingProduct || !form.valid" [ngClass]="{'is-loading': importingProduct}" (click)="submit()">
                        Importar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </main>
  </div>
</div>