<aside>
  <nav class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li>
        <a class="is-active" href="#">
          <span class="icon is-small">
            <i class="fa fa-tachometer"></i>
          </span>
          Dashboard
        </a>
      </li>
      <li>
        <a class=""><i class="fa fa-cubes"></i> Produtos</a>
        <ul>
          <li><a routerLink="/admin/import-product">Importar Produto</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>